[submodule "third-party/llvm-project"]
	path = third-party/llvm-project
	url = https://gitcode.com/Ascend/llvm-project.git
	branch = Ascend/AscendNPU-IR/llvmorg-19.1.7
[submodule "third-party/torch-mlir"]
	path = third-party/torch-mlir
	url = https://gitcode.com/Ascend/torch-mlir.git
	branch = Ascend/AscendNPU-IR/main-20250716
[submodule "third-party/shmem"]
	path = third-party/shmem
	url = https://gitcode.com/cann/shmem.git
